@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url(fonts/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: white;
    /* background-color: rgb(24, 161, 148); */
    font-family: "roboto", "PT Sans", Calibri, Tahoma, sans-serif;
}

fieldset {
    margin-bottom: 15px;
    border-style: none;
}

legend {
    font-family: "montserrat", "PT Sans", Calibri, Tahoma, sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 20px;
}

.form-container {
    max-width: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.field {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    align-items: center;
    position: relative;
}

.special {
    align-items: flex-start;
}

label {
    width: 180px;
    text-align: right;
    margin-right: 50px;
}

/* -------------------------------------------------- */
/* INPUT STYLING                                      */
/* -------------------------------------------------- */
input, select {
    border-radius: 5px;
    border-width: 1px;
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    padding: 1px 6px;
    
}

input[type="checkbox"], input[type="radio"] {
    /* appearance: none; */
    width: 20px;
    height: 20px;    
}

#satisfaction {
    width: 500px;
}

#exp_month, #exp_year, #ccv {
    width: 50px;
    margin-right: 10px;
}

textarea {
    border-radius: 5px;
    border-width: 1px;
    width: 250px;
    height: 90px;
}

::placeholder {
    color: rgb(195, 195, 195);
}

input:hover:enabled, input:focus:enabled, textarea:hover:enabled {
    background-color: #eee;
  }

input + span::before {
    position: absolute;
    right: -20px;
    bottom: 3px;
}

input:required + span::after {
    font-size: 0.6rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: rgb(106, 106, 106);
    padding: 5px 10px;
    bottom: 3px;
    right: 25px;
}  

input:invalid {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.041);
 }

 input:invalid + span::before {
   content: "✖";
   color: red;
   bottom: 9px;
   right: 0px;
 }

input:valid + span::before {
    content: "✓";
    color: green;
    bottom: 9px;
    right: 0px;
}


select {
    /* appearance: none; */
}

/* -------------------------------------------------- */
/* INPUT STYLING                                      */
/* -------------------------------------------------- */

.progress-header {
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}

progress {
    height: 18px;
    width: 100%;
    border-radius: 0px;
}

progress[value]::-webkit-progress-bar {
    background-color: rgba(184, 184, 255, 0.197);
}

progress[value]::-webkit-progress-value {
    background-color: rgb(184, 184, 255);
}

button {
    border-radius: 5px;
    border-style: none;
    background-color: black;
    color: white;
    width: 180px;
    height: 70px;
    font-size: 17px;
    font-family: "roboto", "PT Sans", Calibri, Tahoma, sans-serif;
}

button:hover {
    background-color: rgb(28, 42, 47);
}

.form-container {
    background-color: hsla(247.5,100%,98.43%,1);
    border-radius: 20px;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(82,82,82,1);
    -moz-box-shadow: 2px 2px 3px 0px rgba(82,82,82,1);
    box-shadow: 2px 2px 3px 0px rgba(82,82,82,1);
}

form {
    padding: 10px;
}